@font-face {
  font-family: "primary";
  src: url(/src/assets/Fonts/primary.ttf);
}

@font-face {
  font-family: "secondary";
  src: url(/src/assets/Fonts/secondary.ttf);
}

@font-face {
  font-family: "secondary-medium";
  src: url(/src/assets/Fonts/secondary-medium.ttf);
}

@font-face {
  font-family: "secondary-bold";
  src: url(/src/assets/Fonts/secondary-bold.ttf);
}
